body{
	text-align: center;
}

#box{
	display: block;
	margin: 150px auto;
	color: #ffffff;
	-webkit-border-radius: 10px;
	opacity: 0.6;
	background-color: red;
	width: 200px;
	height: 75px;
	-webkit-transition: -webkit-transform 2s, opacity 2s, background-color 2s, width 2s, height 2s;
}

#box:hover{
	-webkit-transform: rotate(360deg);
	opacity: 1;
	background-color: #1ec7e6;
	width: 450px;
	height: 150px;
}

#text{
	font: bold 30px Century Gothic;
}